 {{!-- display comment form --}}
 <div>
    <h3>Post a comment</h3>
    <form class="comment-form" id="comment-form">
      <textarea id="comment" class="form-input"></textarea>
      <div>
        {{#if logged_in}}
        <button type="submit" class="new-post-btn">Post a comment</button>
        {{else}}
        <a href="/login" class="login">Log in to post a comment</a>
        {{/if}}
      </div>
    </form>
  </div>

  {{#if logged_in}}
  <script src="/js/comment.js"></script>
  {{/if}}
</div>