{{!-- create post --}}
<section>
  <div class="post">
    <div class="title">
      <h2>
        <div class="post-header">
          <p class="post-title">Create new post</p>
        </div>
      </h2>
      <form class="new-post-form">
        <div>
          <label for="post-title">Post title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-body">Post Content</label>
          <textarea class="post-area" type="text" id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="new-post-btn">Share post</button>
      </form>
    </div>
</section>

<script src="/js/postCreate.js"></script>