* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
    height: 100vh;
    border-top: 5px solid #0091ab;
    overflow-y: hidden;
}

main {
    flex: 1;
    height: 100vh;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    background-color: #0091ab;
    width: 100%;
}

.banner-link {
    background-color: #0091ab;
    text-decoration: none;
    color: black;
    font-size: 48px;
    text-align: left;
}

h1 {
    justify-content: flex-start;
}

.nav {
    text-align: right;
    border-top: 3px solid black;
}

.dash-link {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-bottom: 4px;
}

.post-box,
.comment-box {
    background-color: white;
    padding: 4px;
}

.title {
    text-decoration: underline;
    color: black;
    font-size: larger;
}

.post-title {
    text-decoration: underline;
    color: black;
    font-size: 24px;
}

.edit-title {
    color: black;
    width: 50%;
    margin: auto;
    display: block;
    font-size: medium;
}

.details {
    font-size: medium;
    padding-left: 50px;
}

.post-body,
.comment-body {
    color: black;
    padding-left: 100px;
}

.form-input {
    width: 60%;
    height: 100px;
    padding: 10px;
    resize: vertical;
    color: black;
    font-size: medium;
}

.btn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.new-post-btn, .edit-post-button, .delete-post-button {
    height: 40px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    font-size: medium;
}

.login-form,
.signup-form {
    margin: 20px;
}

.login,
.logout {
    text-decoration: none;
    color: black;
    font-size: large;
}

h2 {
    color: black;
    display: inline-block;
    text-decoration: underline;
    padding-right: 6px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
}

.login-text {
    color: black;
    padding: 2px;
}

#password-text {
    margin: 1px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    padding: 6px;
}

.post-area {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.btn-box {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.dash-btn {
    display: flex;
    justify-content: center;
}

h3 {
    color: black;
    font-size: 24px;
}